<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Cart Items</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Package Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Total Persons</th>
                <th>Selected Date</th>
                <th>Subtotal</th>
                <th>Actions</th> <!-- New column for edit and delete buttons -->
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>{{ item.items.name }}</td>
                <td><img src="{{ item.items.image.url }}" alt="Package Image" style="max-width: 100px;"></td>
                <td>{{ item.items.price }}</td>
                <td>{{ item.total_persons }}</td>
                <td>{{ item.selected_date }}</td>
                <td>{{ item.subtotal }}</td>
                <td>
                    <!-- Edit Button -->
                    <a href="{% url 'cart:edit_cart_item' item.pk %}" class="btn btn-primary">Edit</a>
                    <!-- Delete Button -->
                    <a href="{% url 'cart:delete_cart_item' item.pk %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Total: {{ total }}</p>

    <a href="{% url 'cart:booking_form' %}" class="btn btn-primary">Book Now</a>
</div>

{% endblock %}
