<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6"> <!-- Carousel on the left side -->
            <h1>Welcome to our Web page</h1>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ a.image.url }}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ a.image1.url }}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ a.image2.url }}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-6"> <!-- Additional content on the right side -->
            <h2>Package Details</h2>
            <p>Package name: {{ a.name }}</p>
            <p>Description: {{ a.description }}</p>
            <p>Location: {{ a.location }}</p>
            <p>Duration: {{ a.duration }}</p>
            <p>Price: {{ a.price }}</p>

            <!-- Add the form here -->
            <form method="post" action="{% url 'cart:add_to_cart' a.name %}">
                {% csrf_token %}
                <label for="selected_date">Select a date:</label>
                <input type="date" id="selected_date" name="selected_date" required> <!-- Date input field -->
                <label for="total_persons">Total persons:</label>
                <input type="number" id="total_persons" name="total_persons" min="1" value="1" required> <!-- Number input field -->
                <button type="submit">Add to Cart</button> <!-- Submit button -->
            </form>
        </div>
    </div>
</div>

{% endblock %}
