{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background-image: url('{% static 'images/mou1.jpg' %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: Arial, sans-serif;
    }

    .email-confirm-container {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        height: 100vh; /* Full viewport height */
        text-align: center; /* Center text within the container */
    }

    .form-container {
    display: flex;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        max-width: 400px;
        width: 100%;
    }

    h3 {
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
    }

    .form-label {
        color: #333;
        font-weight: bold;
    }

    .email-input {
        width: calc(100% - 20px);
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
    }

    .submit-btn {
        background-color: #007bff;
        border: none;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .submit-btn:hover {
        background-color: #0056b3;
    }

    .message {
        color: red;
        text-align: center;
        font-weight: bold;
    }
</style>

<div class="email-confirm-container">

        <form method="POST" class="myform" data-aos="zoom-in" data-tilt>
            {% csrf_token %}
            <div>
                <label class="form-label" for="email" style="color:white";>Enter your email address:</label>
                <input type="email" id="email" name="email" class="email-input" placeholder="Your email address">
            </div>
            <button type="submit" class="submit-btn">Submit</button>
            {% if messages %}
            <div class="message">
                {% for message in messages %} <strong>
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}
