{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background-image: url('{% static 'images/mou1.jpg' %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: Arial, sans-serif;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .myform {
        box-shadow: 0 0 10px rgba(0, 0, 0, 9.1);
        width: 400px;
    }

    .myform label {
        margin-bottom: 10px;
        display: block;
        font-weight: bold;
        width: 150px;
    }

    .input-container {
        display: flex;
        align-items: center;
    }

    .error-message {
        color: red;
        margin-top: 5px;
    }

</style>

<div class="form-container">
    <form method="POST" class="myform" data-aos="zoom-in" data-tilt>
        <center>
            <h3 style="color:white";>Reset your password</h3>
        </center>
        {% csrf_token %}
        <div class="input-container">
            <label for="otp" style="color:white";>Enter OTP:</label>
            <input type="text" id="otp" name="otp">
        </div>
        {% if messages %}
        <div class="error-message">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        <div class="input-container">
            <label for="new_password" style="color:white";>New Password:</label>
            <input type="password" id="new_password" name="new_password">
        </div>
        <div class="input-container">
            <label for="confirm_password" style="color:white";>Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password">
        </div>
        <center>
            <button type="submit" style="padding: 3px 10px" class="attractive-btn ">Submit</button>
        </center>
    </form>
</div>

{% endblock %}
