{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background-image: url('{% static 'images/mou1.jpg' %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: Arial, sans-serif;
    }
</style>

<body>

<center>
    <div class="register-form-container">
        <div class="form-container">
            <form method="POST" class="register-myform" onsubmit="showSuccessAlert()" data-aos="zoom-in">
                <center><h3>Register here</h3></center>
                {% csrf_token %}

                <div style="margin:10px;">
                    <div class="mb-3" style="display: flex;">
                        <label class="register-form-label" style="flex: 1; text-align: right; margin-right: 10px;">Username:</label>
                        <input type="text" class="register-form-control" name="u" style="flex: 2;" placeholder="Enter your username">
                    </div>

                    <div class="mb-3" style="display: flex;">
                        <label class="register-form-label" style="flex: 1; text-align: right; margin-right: 10px;">Password:</label>
                        <div style="flex: 2; position: relative;">
                            <input type="password" class="register-form-control" id="password" name="p" placeholder="Enter your password" style="width: 100%;">
                            <button type="button" id="togglePassword" onclick="togglePasswordVisibility('password')" style="position: absolute; top: 50%; right: 5px; transform: translateY(-50%); background: none; border: none;"><i class="fas fa-eye" style="color: #999;"></i></button>
                        </div>
                    </div>

                    <div class="mb-3" style="display: flex;">
                        <label class="register-form-label" style="flex: 1; text-align: right; margin-right: 10px;">Confirm Password:</label>
                        <div style="flex: 2; position: relative;">
                            <input type="password" class="register-form-control" id="confirmPassword" name="p1" placeholder="Confirm your password" style="width: 100%;">
                            <button type="button" id="toggleConfirmPassword" onclick="togglePasswordVisibility('confirmPassword')" style="position: absolute; top: 50%; right: 5px; transform: translateY(-50%); background: none; border: none;"><i class="fas fa-eye" style="color: #999;"></i></button>
                        </div>
                    </div>

                    <div class="mb-3" style="display: flex;">
                        <label class="register-form-label" style="flex: 1;">First Name:</label>
                        <input type="text" class="register-form-control" name="f" style="flex: 2;" placeholder="Enter your first name">
                    </div>

                    <div class="mb-3" style="display: flex;">
                        <label class="register-form-label" style="flex: 1;">Last Name:</label>
                        <input type="text" class="register-form-control" name="l" style="flex: 2;" placeholder="Enter your last name">
                    </div>

                    <div class="mb-3" style="display: flex;">
                        <label class="register-form-label" style="flex: 1;">Email:</label>
                        <input type="email" class="register-form-control" name="e" style="flex: 2;" placeholder="Enter your e-mail address">
                    </div>

                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}

                    <div class="mb-3" style="display: flex; justify-content: center;">
                        <input type="submit" class="register-attractive-btn" style="padding: 4px 70px;">
                    </div>

                    <div class="register-login-links">
                        <span>Already have an account?</span>
                        <a href="{% url 'UserAuthentication:login' %}" class="login-link">Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</center>

<script>
    function togglePasswordVisibility(inputId) {
        var passwordInput = document.getElementById(inputId);
        var toggleButton = document.getElementById('toggle' + inputId.charAt(0).toUpperCase() + inputId.slice(1));

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleButton.innerHTML = '<i class="fas fa-eye-slash"></i>';
        } else {
            passwordInput.type = "password";
            toggleButton.innerHTML = '<i class="fas fa-eye"></i>';
        }
    }
</script>

</body>

{% endblock %}
